<% content_for :page_title, @post.title %>


<section class="section">
  <div class="container">
    <% if logged_in? %>
      <nav class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <p class="level-item">
            <%= link_to 'Editar', '/posts/' + @post[:id].to_s + '/edit', class: 'button' %>
          </p>
          <p class="level-item">
            <%= link_to "Deletar", @post, method: "delete", class: 'button is-danger' %>
          </p>
        </div>
      </nav>
    <% end %>

    <h1 class="title">
      <%= @post.title %>
    </h1>
    <div class="container">
      <%= @post.content %>
    </div>
    <section class="comments">
      comments
    </section>
  </div>

</section>